



.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #2196f3;
    padding: 100px;
    /*grid-template-rows: 500px 500px 500px;*/
    justify-content: center;
    /*justify-content: right;*/
    /*justify-content: left;*/
    /*justify-content: space-evenly;*/
    /*justify-content: space-between;*/
    /*justify-content: space-around;*/

}

.grid-item {
    background-color: rgba(255,255,255,0.8);
    border: 1px solid rgba(0,0,0,0.8);
    padding: 50px;
    font-size: 30px;
    text-align: center;

}







