
/*.flex-container {*/
/*    display: flex;*/
/*    height: 300px;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    background-color: dodgerblue;*/
/*}*/

/*.flex-container > div {*/
/*    background-color: #f1f1f1;*/
/*    width: 100px;*/
/*    height: 100px;*/
/*    margin: 10px;*/
/*    text-align: center;*/
/*    line-height: 75px;*/
/*    font-size: 30px;*/
/*    */

/*}*/


/*Responsive Image Gallery with FlexBox*/




/*}*/

/*body {*/
/*    margin: 0;*/
/*    margin-bottom: 5px;*/
/*    font-family: Georgia;*/
/*}*/

/*.header {*/
/*    text-align: center;*/
/*    padding: 32px;*/
/*    background-color: rgba(1, 1, 1, .3);*/
/*    margin: 0 16px;*/
/*}*/

/*img {*/
/*    width: 100%;*/

/*}*/
/*.row-flex-container {*/
/*    display: flex;*/
/*    flex-wrap: wrap;*/
/*    padding: 0 4px;*/
/*    background-color: rgba(16, 16, 16, .3);*/
/*    margin-top: 25px;*/

/*}*/

/*!*Create four equal colums that sits next to each other*!*/

/*.column {*/
/*    flex: 25%;*/
/*    max-width: 25%;*/
/*    padding: 0 4px;*/

/*}*/

/*.column img {*/
/*    margin-top: 8px;*/
/*    vertical-align: middle;*/
/*}*/

/*!*Responsive layout -  makes a two column-layout instead of four.*!*/

/*@media (max-width: 750px) {*/
/*    .column {*/
/*        flex: 50%;*/
/*        max-width: 50%;*/
/*    }*/
/*}*/

/*!* Responsive layout - makes the two columns stack on top of each other instead of next to each other *!*/

/*@media (max-width: 500px) {*/
/*    .column {*/
/*        flex: 100%;*/
/*        max-width: 100%;*/
/*    }*/
/*}*/

* {
    box-sizing: border-box;
    margin: 0;
}

/*Style the body*/

/*body {*/
/*    font-family: Georgia;*/
/*    margin: 0;*/
/*}*/

/*Header/Logo title*/

/*.note {*/
/*    background-color: slateblue;*/
/*    text-align: center;*/
/*    width: 100%;*/
/*    padding: 5px;*/
/*}*/

/*.header {*/
/*    padding: 60px;*/
/*    text-align: center;*/
/*    background: #1abc9c;*/
/*    color: white;*/

/*}*/

/*Style the top navigation bar*/

/*.nav-bar {*/
/*    display: flex;*/
/*    background-color: #333;*/
/*}*/

/*Style the navigation bar links*/

/*.nav-bar a {*/
/*    color: white;*/
/*    text-decoration: none;*/
/*    padding: 14px 20px;*/
/*    text-align: center;*/
/*}*/

/*.nav-bar a:hover {*/
/*    background-color: lightblue;*/
/*    color: black;*/
/*    font-weight: bold;*/
/*}*/

/*Column container*/

/*.row-flex-container {*/
/*    display: flex;*/
/*    flex-wrap: wrap;*/
/*}*/

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */

/*.side {*/
/*    flex: 30%;*/
/*    background-color: #f1f1f1;*/
/*    padding: 20px;*/
/*}*/

/*Main column*/

/*.main {*/
/*    flex: 70%;*/
/*    background-color: white;*/
/*    padding: 20px;*/
/*}*/

/*Fake Image, just for this example*/

/*.fake-img {*/
/*    background-color: #aaa;*/
/*    width: 100%;*/
/*    padding: 20px;*/
/*}*/

/*Footer*/

/*.footer {*/
/*    padding: 20px;*/
/*    text-align: center;*/
/*    background-color: #1abc9c;*/
/*}*/

/*Responsive Layout - when the screen is less than 700px wide, make two columns stack on top of each other instead of next to each other*/

/*@media screen and (max-width: 700px) {*/
/*    .row-flex-container, .nav-bar {*/
/*        flex-direction: column;*/
/*    }*/
/*}*/

body {
    background-color: black;
}

.title {
    display: flex;
    font-family: Georgia, sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: white;
    margin: 20px 15px;

}

h3 {
   
    margin: 25px auto;

}


.form-flex-container {
    display: flex;
    margin: auto;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #444;
    width: 50%;


}

.form {
    min-width: 400px;
    flex: 1;
    text-align: center;
    padding: 30px;
}

.form-input {
    width: 100%;
    padding: 15px;
    margin: 15px 0;
    border: none;
    border-bottom: 2px solid #09f;
    background-color: transparent;
    color: white;
    font-weight: bold;

}

.form-input:focus {
    background: linear-gradient(to bottom, transparent, #222);
    outline: none;
}

.placeholder {
    color: white;
}


label {
    display: flex;
    /*margin: 15px 0;*/
    padding-top: 20px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 20px;

}

label:hover {
    color: white;
    transition: .8s;
}


.form textarea {
    min-height: 100px;
}

.form-img {
    flex: 1;
    padding: 30px;
    display: flex;
    width: 100%;

}

.form-img img {
    width: 60%;
    margin: auto;
    border-radius: 50%;
    background-color: white;
    padding: 20px;
}

textarea {
    resize: none;
}

button {
    outline: none;
    font-size: 20px;
    padding: 10px 15px;
    background-color: #444444;
    border: none;
    color: white;
    font-family: Arial, sans-serif;
    
}

button:hover {
    cursor: pointer;
    border: 1px solid white;
    border-radius: 5px;
    background: linear-gradient(to bottom, transparent, #222);


}















